.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 15px;
  padding: 15px 20px;
  font-size: 1.25rem;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
  --color: hsl(200, 100%, 6%, 0.7);
  background-color: var(--color);
  box-shadow: 0 0 15px 0 var(--color);
  color: white;font-family: "Neucha", cursive;
}

.input__box:focus {
  box-shadow: 0 0 2px;
  outline: none;
}

.input_submit {
  position: absolute;
  right: 0px;
  display: flex;
  font-size: 2.25rem;
  margin: 10px;
  border: none;
  --color: hsl(200, 100%, 6%, 0);
  background-color: var(--color);
  color: #cdcbcb;
}

.input_submit:hover {
  transform: scale(1.1);
}
.input_submit:active {
  transform: scale(0.9);
  box-shadow: 0 0 2px black;
}

.container {
  display: flex;
  width: 90%;
  margin-top: 20px;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Neucha", cursive;
  z-index: 1;
}
.todos {
  display: flex;
  width: 30%;
  flex-direction: column;
  padding: 15px;
  --color: hsl(200, 100%, 6%, 0.7);
  background-color: var(--color);
  box-shadow: 0 0 15px 0 var(--color);
  border-radius: 10px;
}

.todos__heading {
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: "Neucha", cursive;
}
.todos__heading > button{
  width: 40px;
  height: 40px;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}
.todos__single {
  display: flex;
  align-items: center;
  font-size: 0.50rem;
  padding: 20px;
  margin-top: 15px;
  z-index: 1;
  flex-wrap: wrap;
  transition: 0.2s;
  padding: 0.75em;
  background-color: hsl(200, 100%, 91%, 0.2);
  border: none;
  outline: none;
  border-radius: 0.25em;
  color: white;
  font-weight: lighter;
}
.subPlusIcon {
  font-size: 0.50rem;
  padding: 10px;
  margin-top: 10px;
  z-index: 1;  
}
.subPlusIcon>button {
  font-size: large;
  color: white;
   background: transparent; 
  border: none; 
}
.todos__single:hover {
  transform: scale(1.01);
  box-shadow: 0 0 5px black;
}

.todos__single--text {
  padding: 5px;
  border: none;
  flex: 1;
  font-family: "Neucha", cursive;
  font-size: 1.25rem;
  background-color: hsl(200, 100%, 91%, 0);
  border: none;
  outline: none;
  border-radius: 0.25em;
  color: white;
  font-weight: lighter;
}

.todos__single--text:focus {
  outline: none;
}

.editmode {
  border: 1px dotted rgba(0, 0, 0, 0.3);
}

.icon {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media (max-width: 1100px) {
  .todos {
    width: 28%;
  }
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .container {
    width: 95%;
    flex-direction: column;
  }
  .todos {
    width: 93%;
    margin-bottom: 10px;
  }
  .todos__heading {
    font-size: 1.5rem;
    text-align: left;
  }
}
@media (max-width: 400px) {
  .container {
      width: 95%;
      flex-direction: column;
    }
  
    .todos {
      width: 92%;
      margin-bottom: 10px;
    }}
/* .tdos {
  background-color: hsl(200, 100%, 91%,0);
}

.remove {
  background-color: #5aeba5;
}
.WIP {
  background-color: #d2e28c;
} */

/* @media (max-width: 1200px) {
  .todos__single {
    width: 40%;
  }
} */

/* .dragactive {
  background-color: rgb(0, 221, 236);
}
.dragcomplete {
  background-color: rgb(255, 38, 0);
} */
